@model LojaNinja.Models.PedidoModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sucesso</title>
    <style>
        .cabecalho{
            padding: 10px;
            margin: 20px 20px;
        }
        span{
            margin-left: 30px;
            margin-right: 30px;
        }
    </style>
</head>
<body>
    <header class="cabecalho">
        <span>@Html.DisplayNameFor(model => model.DataDesejoEntrega)</span>
        <span>@Html.DisplayNameFor(model => model.NomeProduto)</span>
        <span>@Html.DisplayNameFor(model => model.ValorVenda)</span>
        <span>@Html.DisplayNameFor(model => model.NomeCliente)</span>
        <span>@Html.DisplayNameFor(model => model.Cidade)</span>
        <span>@Html.DisplayNameFor(model => model.Estado)</span>
   </header>
</body>
</html>
