@model LojaNinja.Models.PedidoModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sucesso</title>
</head>
<body>
    <p>
      
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataDesejoEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    
    </table>
</body>
</html>
